version: "3.9"

services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  web:
    build: .
    command: "./app"
    volumes:
      - .:/code
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment: 
      - DATABASE_URL="host=postgres port=5432 user=postgres password=postgres dbname=postgres sslmode=disable"
